
.form-group {
    margin-bottom: 1.4rem;
    color: black;
  }
  
  .form-control:focus {
    box-shadow: none;
  }
  
  .form-group > label {
     display: block;
     font-weight: 700;
  }
  
  .form-control.is-invalid:focus, .was-validated .form-control:invalid:focus {
    box-shadow: none;
  }
  input{
    height: 50px;
    width: 500px;
    border-radius: 5px;
    box-shadow: 10px black;
  }
.createuser{
    width: 150px;
    height: 50px;
    font-size: 14pt;
    border-radius: 10px;
    font-weight: bold;
    background-color: gray;
}
.createuser:hover{
    background-color: blue;
}